<div class="container">
    <div class="alert alert-secondary mt-2" role="alert">
        Planejar Planilha do aluno <span class="text-warning">{{ client.name }}</span>
    </div>

    <div class="row mt-3">
        <div class="col-md-12" *ngIf="controlHideMessageSuccess.success">
            <div class="alert alert-success" role="alert">
                Planilha cadastrada com sucesso.
            </div>
        </div>

        <div class="col-md-12" *ngFor="let error of errors">
            <div class="alert alert-danger" role="alert">
                {{error.error}}
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="row">
                <div class="col">
                    <label for="" class="form-label">Selecionar uma Categoria:</label>
                    <select class="form-control" (change)="selectedCategory($event)">
                        <option [disabled]="true" [selected]="true">Vazio...</option>
                        <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col mt-5">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-header">Adicionar categoria de exercícios na planilha: {{ listExercisesByCategory[0].name }}</div>
                        <div class="card-body align-items-center">
                            <ul class="checkbox-items" *ngIf="listExercisesByCategory[0].name !== ''">
                                <li *ngFor="let exercise of listExercisesByCategory[0].planning">
                                    <!-- <input class="form-check-input me-1" type="checkbox" [(ngModel)]="exercise.selectedExercise" (change)="changeSelection()"> -->
                                    <label for="">{{ exercise.nameExercise }}</label>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <div>
                                        <button type="button" class="btn btn-danger me-2" (click)="removeFromSpreadSheet(listExercisesByCategory[0].name)">
                                            <i class="far fa-trash-alt"></i> Remover da planilha
                                        </button>
                                        <button type="submit" class="btn btn-success" [disabled]="" (click)="addOnSpreadSheet()">
                                            <i class="fas fa-plus me-1"></i> Adicionar na planilha
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col">
                    <label for="" class="form-label">Estado atual da planilha:</label>
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-header">Planilha do aluno</div>
                        <div class="card-body">
                            <div class="col">
                                <h4>Adicionados</h4>
                                <div *ngFor="let category of listExercisesByCategoryToSave">
                                    <h5>{{ category.name }}</h5>
                                    <ul>
                                        <li *ngFor="let exercise of category.planning">{{ exercise.nameExercise }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card-footer">
                            <h4>Object</h4>
                            <code>
                            {{selectedItemsList[0].planning | json}}
                            </code>
                        
                            <h4>Array of IDs</h4>
                            <code>{{checkedIDs}}</code>
                            <div class="col">
                                <code>{{ listExercisesByCategoryToSave | json }}</code>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    
    <div class="row">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div>
                <button type="button" class="btn btn-danger me-2" (click)="backToList()">
                    <i class="fa fa-arrow-left"></i> Voltar
                </button>
                <button type="submit" class="btn btn-success" [disabled]="" (click)="saveSpreadSheet()">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </div>
</div>

