<div class="container">
    <h1 class="mt-4">Equipamentos</h1>
    <div class="alert alert-secondary" role="alert">
        Consulta
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover pt-3 pb-3" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Condição</th>
                    <th>Adquirido em</th>
                    <th>Numero de série</th>
                    <th>Tempo de uso (anos)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let equipment of equipments">
                    <td>{{ equipment.name }}</td>
                    <td>{{ equipment.statusEquipment }}</td>
                    <td>{{ equipment.date }}</td>
                    <td>{{ equipment.code }}</td>
                    <td>{{ equipment.timeUse }}</td>
                    <th>
                        <div class="d-grid gap-1 d-md-flex justify-content-md-center">
                            <button class="btn btn-primary" routerLink="/personal-equipment/form/{{equipment.id}}">
                                <i class="far fa-edit"></i>
                            </button>
                        </div>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
