<div class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">Login com</h3>
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid">
                                            <button class="btn btn-danger btn-block" (click)="onSubmit()">
                                                <i class="fab fa-google"></i> Google
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-footer text-center py-3">
                                        <div class="small">Ou com email</div>
                                    </div>
                                   
                                    <div class="alert alert-danger" *ngIf="errors">
                                        Login e/ou senha incorreto(a).
                                    </div>
    
                                    <form #loginForm="ngForm" (submit)="onSubmit()">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="inputEmail" type="email" [(ngModel)]="email" name="email" placeholder="name@example.com" />
                                            <label for="inputEmail">Email address</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="inputPassword" type="password" [(ngModel)]="password" name="password"  placeholder="Password" />
                                            <label for="inputPassword">Password</label>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <button type="submit" class="btn btn-primary" >Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
