<div class="container">
    <div class="alert alert-secondary mt-2" role="alert">
        Planilha de treino
    </div>

    <div class="row mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                   <span>Treino a ser seguido</span> 
                </div>
            </div>
        </div>
        <div class="col-md-6" *ngFor="let category of spreadSheetPupil">
            <div class="card mb-4">
                <div class="card-body">
                    <table class="table table-bordered table-striped table-hover pt-3 pb-3">
                        <thead>
                        <tr>
                            <th>Categoria {{category.name}}</th>
                            <th>Séries</th>
                            <th>Repetições</th>
                            <th>Carga</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let planning of category.planning">
                            <td>{{ planning.nameExercise }}</td>
                            <td>{{ planning.series }}</td>
                            <td>{{ planning.loop }}</td>
                            <td>{{ planning.weight }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>            
    </div>

    <div class="row">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div>
                <button type="button" class="btn btn-danger me-2" (click)="backToList()">
                    <i class="fa fa-arrow-left"></i> Voltar
                </button>
            </div>
        </div>
    </div>
</div>