<div class="container">
    <h1 class="mt-4">Cadastro de exercícios</h1>
    <div class="alert alert-secondary" role="alert">
        Consulta
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-warning" (click)="newExercise()">
                        <i class="fas fa-plus me-1"></i>
                        Novo
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover pt-3 pb-3" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                <tr>
                    <th>Nome</th>
                    <td>Repetições</td>
                    <td>Carga</td>
                    <td>Nº de séries</td>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let exercise of exercises">
                    <td>{{ exercise.nameExercise }}</td>
                    <td>{{ exercise.loop }}</td>
                    <td>{{ exercise.weight }}</td>
                    <td>{{ exercise.series }} vezes</td>
                    <th>
                        <div class="d-grid gap-1 d-md-flex justify-content-md-center">
                            <button class="btn btn-primary" routerLink="/personal-workout/form/{{exercise.id}}">
                                <i class="far fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="prepareToDeleteExercise(exercise)">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmação</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" *ngIf="selectedExercise">
                    Deseja excluir o exercício {{selectedExercise.name}}.
                </div>
                <div class="modal-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-success me-md-2" data-bs-dismiss="modal" (click)="deleteExercise(selectedExercise.id)">Confirma</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
