<div class="conatiner-fluid">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="text-center font-weight-light my-4">Total de alunos presentes agora</h3>
        </div>
    </div>
    <div class="row">
        <span class="text-center">89</span>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <label for="">Alta Lotação</label>
        </div>
        <div class="col">
            <label for="">Média Lotação</label>
        </div>
        <div class="col">
            <label for="">Baixa Lotação</label>
        </div>
    </div>
</div>
